.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper button {
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.offEnableClass {

    background-color: black;

}

.onEnableClass {
    background-color: green;
}

.accordian {
    width: 500px;
}

.item {
    background: #614101;
    margin-top: 10px;
    padding: 10px 20px;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: white;
    height: auto;
}