

.load-more-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    /* padding: 2?0px; */
}

.load-more-container>div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 70px;

}
.load-more-btn{
    display: flex;
    justify-content: center;
}

.image-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
}
/* "https://dummyjson.com/products?limit=1&skip=${count==0?0:count*20}" */
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.product{
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product img{
    width:200px;
    height: 200px;
}