.gitub-profile{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.github-profile-wrapper{
    width: 60%;
    height: 60%;
    padding: 12p;
    box-shadow: 0px 0px 10px black;
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.gitub-profile .github-profile-wrapper input{
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px black;
}
button{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.user img{
    width: 300px;
    /* height: 300px; */
}