.wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap:100px;
}

.generateBtn{
    display: flex;
    justify-content: center;
}
.colorContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    
}